.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1482154905330-d746d3a7ca4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c004e02b4f05537362ee1c90544e49e1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    height: 100vh;
}

.banner {
    position: absolute;
    color: white;
    font-size: 1rem;
    font-family: 'Kurale', serif;
    top: 1vh;
    left: 3vh;
    position: scroll;
}

.title {
    padding: 0vh;
    margin: 0vh;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    /* text-transform: uppercase; */
    padding: 1.5vh;
    font-size: 2.75rem;
    white-space: nowrap;
    font-family: 'Amiri', serif;
    position: relative;
    text-align: center;
    letter-spacing: 0.15em;
    /* text-transform: uppercase; */
}

h2 {
    /* font-weight: 500; */
    margin: 0 0 1em 0;
    padding: 1px;
    font-size: 1.4rem;
    font-family: 'Arapey', serif;
    position: relative;
    text-align: center;
    /* border-bottom: solid 2px; */
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h2::after {
  content: "";
  position: absolute;
  height: 0.1em;
  background: white;
  /*top moves the bar up and down*/
  top: 130%;
  /* !!!adjust the width to alight to the text */
  width: 23%;
  left: 50%;
  transform: translateX(-50%);
}

h3 {
    position: relative;
    margin-top: 0.5em;
    padding-top: 0.5em;
    font-family: 'Arapey', serif;
    font-size: 1rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.05em;
}

p {
    letter-spacing: 0.15em;
    font-family: 'Arapey', serif;
}

.sectionA {
    margin: 0 0 1em 0;
    padding: 1px;
    background: linear-gradient(rgba(23, 20, 16, 1), rgba(135, 118, 94, 1))
    /* background: linear-gradient(rgba(98, 62, 15, 1), rgba(135, 118, 94, 1)) */
}

h4 {
    margin: 5em 0 1em 0;
    padding: 1em 0 0 0;
    font-size: 2rem;
    font-family: 'Arapey', serif;
    position: relative;
    text-align: center;
    color: white;
}

.story {
    letter-spacing: 0.15em;
    margin: 1em 21em 0 21em;
    font-size: 1em;
    font-family: 'Arapey', serif;
    text-align: center;
    color: white;
}

.sectionB {
    letter-spacing: 0.15em;
    margin: 6em 22em 0 22em;
    padding-bottom: 0;
    font-family: 'Arapey', serif;
    text-align: center;
    color: white;
}
